__pycache__
*.pyc
*.pyo
.venv/
*.db
.env
.pytest_cache/
tests/
backend/.venv/
backend/__pycache__/
pastebin-service/
redis-image/
complex/
netswitch/
snap/
.github/
.mimocode/
.local/
.cache/
.config/
.kube/
.nvm/
.npm/
.ssh/
.aws/
.azure/
.docker/
.git/
*.iso
*.rar
