POSTGRES_USER=pastebin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=pastebin
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379
SECRET_KEY=change_me_to_a_random_string
RATE_LIMIT_PER_MINUTE=60
RATE_LIMIT_PER_HOUR=1000
PROMETHEUS_ENABLED=true
